<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Details:</title>
  </head>
  <body>
    <h1>Student</h1>
    <table border='2'>
      <thead>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th> Marks</th>
      </thead>
      {% for i in student_list %}
      <tr>
        <td><a href="/{{i.id}}">{{i.id}}</a></td>
        <td>{{i.firstname}}</td>
        <td>{{i.lastname}}</td>
        <td>{{i.marks}}</td>
        <td><a href="/delete/{{i.id}}">delete</a></td>
        <td><a href="/update/{{i.id}}">update</a></td>
      </tr>
      {%endfor%}
    </table>
    <br/><br/>
    <a href="/create">add project</a>
  </body>
</html>
