<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>update form:</h3>
    <form method='post'>
      {%csrf_token%}
      <!-- Firstname:<<input type="text" name="Firstname" value="{{student.Firstname}}">
      Lastname:<<input type="text" name="Lastname" value="{{student.Lastname}}">
      Marks:<<input type="text" name="Marks" value="{{student.Marks}}"> -->
      <table>
        {{form.as_table}}
      </table>
      <input type="submit"  value="update">

  </body>
</html>
