<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Details:</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <table>
          <th>id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Marks</th>
        </table>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>{{p.id}}</a></td>
        <td>{{i.Firstname}}</td>
        <td>{{i.Lastname}}</td>
        <td>{{i.Marks}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <b><button type="button"><a href="http://localhost:8000/student/">Back</a></b>
  </body>
</html>
